.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(44, 53, 53);
  color: white;
}

.nav-links {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  color: white;
  transition: 0.75s;
}

nav li:hover {
  color: aqua;
  /* font-size: 1.2rem; */
}
