.view-products {
  padding: 5rem;
}

.products-title {
  margin-top: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2rem;
}

.product-card {
  padding: 0.5rem;
  margin: 1rem;
}

.card-text {
  color: rgb(44, 53, 53);
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  color: rgb(44, 53, 53);
  text-decoration: none;
}
